        @import url('reset.css');
        @import url('font.css');

body{
  background-image: url(arrh.gif); /*Comprendra qui pourra de ce Gif !*/
  background-size: 47%;
  background-repeat: no-repeat;
  background-position: right 5% bottom 45%;
  margin-bottom: 20px;

}
