@import "reset.css";

body{
    background: url("../image/space.gif");
    background-size: 100% ;
    font-family: Arial;
    color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;

}
html{
    height: 100%;
}


nav{

    background-color: ThreeDDarkShadow;
    opacity: 90%;
    min-height: 93vh;
    width:30%;

}

.wrap{
    margin-top:-90vh;
    margin-left: 35%;
    margin-right: auto;
    width: 50%;

}

header nav ul li a{

    color: black;
    line-height: 40px;

}
ul{

    margin-top: -40vh;
}
.pied{
    border-top: 5px solid darkgray;
    background-color: darkgray;
    opacity: 60%;
    min-height: 7.1vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.pied p{

    padding: 10px;

}
